[env]
platform = espressif32
board = lolin_s2_mini
framework = arduino
monitor_speed = 115200
; This will increment the version on each build and inject it into the binary
extra_scripts  = pre:version_increment.py

; For first flash
[env:lolin_s2_mini]
upload_protocol = esptool
upload_port = COM4

; For wireless updates of firmware, should be treated as default
[env:lolin_s2_mini_ota]
upload_protocol = custom
; Get upload port from serial monitor or find the ip manually
upload_port = 192.168.0.100
; Use curl to make POST to webserver for OTA
upload_command = curl --fail -F "update=@.pio/build/${PIOENV}/firmware.bin" http://${UPLOAD_PORT}/update
